body {
    color: #606c76;
    font-family: serif;
    margin: 0;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
}

h1,h2 {
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 0px;
   margin-bottom: 20px;
}

table {
    width: 100%;
}

th,td {
 text-align: left;
 border-bottom: 0.1px solid #e1e1e1;
 padding: 1.2rem 1.5rem;
}



